* {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    }
/* General */
body {
    background-color: black;
    margin: 0;
}

section {
    margin-bottom: 100px;
    /* border: solid green; */
}

.video-section {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-bottom: 100px;
    left: 0;
    top: 0;
    align-content: center;
    background-color: black;
    /* border: solid orange; */
    display: block;
}

.projects-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #121212;
}

.contact-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #121212;
    margin-bottom: 0;
}
    
video {
    width: 100%;
    height: auto;
    display: block;
    background-color: black;
    /* border: solid red; */
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.overlay {
    /* border: solid pink; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    display: block;
    margin: auto;
    color: white;
}

.overlay p {
    text-align: center;
    position: relative;
    top: 46%;
    transform: translateY(-46%);
    -ms-transform: translateY(-46%);
    -webkit-transform: translateY(-46%);
}

/* span.video-text {
    color: white;
    position: absolute;
    z-index: 2;
    text-align: center;
} */
    
/* .landing-video {
    width: 100%;
    margin: 0 auto;
    display: block;
} */


/* header {
    background-color: black;
    margin-bottom: 40px;
} */
    
/* .logo {
font-size: 70px;
color: white;
text-align: center;
letter-spacing: -2;
margin: 0;
padding: 20px 0 0 0;
} */

/* navigation */
/* header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}

header nav ul li {
    list-style-type: none;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 0 20px 0 0;

}
    
header nav ul li a:hover {
    color: greenyellow;
} */
/* 
@media all and (min-width: 700px){
    header {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        margin: 14px 0 14px 20px;
        padding-top: 0;
        font-size: 42px;
    }

    header nav {
    margin-top: 14px;
    }
} */
    
/* Primary Groups */

/* main {
    padding: 20px 0;
} */

/* section.dark-background {
    background-color: black;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 80px 0;
} */

footer {
    background-color: black;
    margin: auto;
    color: white;
}

footer p {
    font-size: 12px;
}

/* Typography */
h1 {
    font-size: 28px;
    color: black;
    font-weight: 400;
}

h2 {
    font-size: 26px;
    color: white;
    font-weight: 400;
    margin: 0 10px;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 0;
    color: white;
}

main a {
    font-weight: 700;
    text-decoration: none;
}

main a:link{color: white;}
main a:visited{color: rgb(168, 206, 111);}
main main a:hover{color: greenyellow;}
a:active{color:  rgb(133, 186, 55);}

a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 20px;
}

footer h2 {
    color: black;
}

main img {
    width: 100%;
    /* border: solid orange; */
}

img.image-enhanced {
    border-radius: 8px;
}

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 10px;
}

.item-double {
    color: white;
    flex: 2;
}

/* Desktop groups/items */
@media all and (min-width: 800px){
section {
    padding: 0 10%;
}
.group {
    flex-direction: row-reverse;
}
}

/* *****************PROJECTS**************** */
.card-container {
    max-width: 1200px;
    min-width: 370px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
}

.row-one {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.card p {
    font-size: 16px;
    padding-left: 4px;
    padding-right: 4px;
}

.card #card1 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
    border-radius: 10px;
    text-decoration: none;
}

.card #card1:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
}

.card #card2 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
    border-radius: 10px;
    text-decoration: none;
}

.card #card2:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
}

.card #card3 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
    border-radius: 10px;
    text-decoration: none;
}

.card #card3:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
}

.card #card4 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
    border-radius: 10px;
    text-decoration: none;
}

.card #card4:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
}

.card #card5 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
    border-radius: 10px;
    text-decoration: none;
}

.card #card5:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
}

.card #card6 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
    border-radius: 10px;
    text-decoration: none;
}

.card #card6:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
}
      
.card #card7 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
    border-radius: 10px;
    text-decoration: none;
}

.card #card7:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
}

.card #card8 {
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 15rem;
    height: 20rem;
    border: transparent;
    border-radius: 10px;
    text-decoration: none;
}

.card #card8:hover {
    font-size: 30px;
    color: black;
    display: block;
    margin: 0 auto;
    text-indent: 0;
    justify-content: center;
    background-color: rgb(238, 228, 211, .8);
    background-blend-mode: hue;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border: solid;
    border-color: transparent;
    background-color: transparent;
    width: 15rem;
    height: 20rem;
    margin-bottom: 20px;
    -webkit-perspective: 1000px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    -webkit-transition: -webkit-transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition-property: -webkit-transform;
    -webkit-transition-property: -webkit-transform;
    transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* Position the front and back side */
.card-one-front {
    position: absolute;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #bbb;
    background-image: url(./images/beer.jpg);
    opacity: .8;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}

.card-two-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./images/books.jpg);
    opacity: .8;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}

.card-three-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./images/makeup.jpg);
    opacity: .8;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}

.card-four-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./images/computer.jpg);
    opacity: .8;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
}

.card-five-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./images/trebek.jpg);
    opacity: .8;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}

.card-six-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./images/leaf.jpg);
    opacity: .8;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}

.card-seven-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./images/note.jpg);
    opacity: .8;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}

.card-eight-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./images/parks.jpg);
    opacity: .8;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}
     
/* *********CONTACT********* */
.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    /* align-items: center;
    align-content: center; */
    /* margin: auto; */
    border: solid green;
    /* padding-top: 20px;
    padding-bottom: 20px; */
  }
  
  .contact-form {
    display: block;
    width: 77%;
    height: 100%;
    /* margin: auto; */
    border: solid yellow;
    color: white;
    margin: auto;
    text-align: center;
  }
  
  .contact-bar {
    width: 100%;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 30px;
    border: solid orange;
  }
  
  .contact-bar a {
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 15%;
    text-align: center;
    padding: 12px 0;
    color: black;
    transition: all 0.3s ease;
    font-size: 34px;
  }
  
  .contact-bar a:hover {
    background-color: white;
    color: black;
  }
  
  .location {
    display: block;
    margin: auto;
    width: 50%;
    height: 100%;
    margin-bottom: 20px;
    color: white;  
    border: solid blue;
  }
  /****** Contact Form Design ******/
  form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    margin: auto;
    border: solid thin;
    border-color: rgb(51, 51, 51);
  }
  
  form textarea {
    height: 250px;
  }



  

      